<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body ng-app="calc">
    
    <div ng-controller="calcController">
        <div class="key" ng-click="setType('simple')">Simple</div>
        <div class="key" ng-click="setType('advanced')">Advanced</div>
        <div class="calculator">
            <div class="display" ng-class="{'barby_size': small_size,'mikro_size': mikro_size}">{{ display_history }}</div>
            <div class="keys">
                <div class="key" ng-repeat="key in keys"  ng-class="{'equa':key.label == '=','double-width': key.label == '=' || (key.label == '←' && type == 'advanced'), 'operation': !!key.operation}" ng-click="keyClicked(key)">{{ key.label }}</div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/calc.js"></script>
</body>
</html>