* {
  box-sizing: border-box;
  font-family: monospace;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none;
}
.loading {
  font-size: 27px;
  text-align: center;
  margin-top: 180px;
}
.type_btn {
  cursor: pointer;
  margin: 15px auto;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  width: 220px;
  font-size: 24px;
  text-align: center;
  background-color: darkgrey;
}
.calculator {
  display: block;
  background-color: black;
  overflow: hidden;
  margin: 40px auto;
  color: #555;
  width: 405px;
  padding: 15px;
  border-radius: 15px;
}
.calculator .display {
  background-color: #000;
  color: #fff;
  border: 1px solid grey;
  font-size: 35px;
  height: 80px;
  padding: 0 4px;
  text-align: right;
  overflow: hidden;
  line-height: 80px;
}
.calculator .display.barby_size {
  font-size: 25px;
}
.calculator .display.mikro_size {
  font-size: 15px;
}
.calculator .keys {
  overflow: hidden;
  float: left;
}
.calculator .keys .key {
  width: 75px;
  height: 50px;
  background-color: #fff;
}
.calculator .keys .key.memoried {
  width: 75px;
  height: 50px;
  background-color: lightgreen;
}
.calculator .keys .key.double-width {
  width: 150px;
}
.calculator .keys .operation {
  background-color: #eee;
}
.calculator .keys .equa {
  vertical-align: middle;
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: #f90;
}
.calculator .key,
.calculator .equa,
.calculator .operation {
  cursor: pointer;
  font-family: monospace;
  font-size: 23px;
  border: 1px solid darkgrey;
  line-height: 50px;
  text-align: center;
  float: left;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.calculator .key:hover,
.calculator .equa:hover,
.calculator .operation:hover {
  opacity: 0.8;
}
.calculator .key:active,
.calculator .equa:active,
.calculator .operation:active {
  opacity: 0.7;
}
